$width: 400px;
$height: 400px;

.board{

    width: $width;
    height: $height;
    background-color: skyblue;
    border: solid black;
    border-radius: 10px;

    font-family: cursive;

    & button{
        $buttonWidth: 100px;
        position: relative;
        width: $buttonWidth;
        height: $buttonWidth / 3;
        bottom: $height /4;
        left: ($width - $buttonWidth) /2;
        font-size: 15px;
        font-family: cursive;
    }

    & p {
        position: relative;
        width: $width - $width/5;
        
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .result {
        position: relative;
        top: -$height/4 ;
        text-align: center;
    }
    
    .warning {
        position: relative;
        text-align: center;
        top: -$height/4 ;
    }

}
.player{
    
    $topPlayer: 80px;
    $sidePlayer: $width/2.3;

    position: relative;    
    width: $width / 4;
    background-color:  rgb(0, 255, 170);
    border: solid thin black;    
    border-radius: 5px;
    padding: 10px;

    &.one {
        position: relative;
        top: 5px;
        left: $width/8;
    }

    &.two {
        position: relative;
        top: -110px;
        left: $width/8 + $sidePlayer;
    }
    & input {
        text-size-adjust: 20px;
        font-size: 20px;
        width: 60px;
        position: center;
    }
}





