
<div class="board"> 
    <p>each player choose number between 0 to 100</p>
    <div class="player one">
        <h3>Player 1</h3>
        <input [(ngModel)]="player1" (keypress)="testIfNumber($event)" type="text">
    </div>
    <div class="player two" >
        <h3>Player 2</h3>
        <input [(ngModel)]="player2" (keypress)="testIfNumber($event)" type="text">
    </div>
    <div  class="button" *ngIf="player1 && player2">
        <button (click)="spin()" >Spin</button>
    </div>
    <div class="warning" *ngIf="!player1 || !player2">
        <p>Both players need to insert a number!!!</p>
    </div>
    <div *ngIf="randomNumer"  class="result">
        <div>
            <p>Random number is {{randomNumer}}</p>
            <p>{{winner}}</p>
        </div>
    </div>
</div>

