.header {
    background-color: rgb(7, 119, 119);
    height: 10vh;
    font-family: stencil;
}

.content {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 153, 139);
    height: 85vh;
}